# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/

# Environment variables / credentials
.env
.env.*
!.env.example
*.pem
*.key

# macOS
.DS_Store

# IDE
.vscode/

# Local generated data
data/processed/

# Logs
*.log

# Airflow local files
airflow.db
airflow.cfg
logs/

#Generated raw data
data/raw/*.csv

#Pytest
.pytest_cache/
